.candidateParent {
  cursor: pointer;
  display: inline-block;
  width: 25%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.candidateCard {
  text-align: center;
  height: 100%;
  background: lightgreen;
}

.candidateCard img {
  height: 8rem;
  width: 50%;
  margin: 1rem;
  border: 1px solid black;
}

button {
  margin: 0.5rem 0.2rem;
  padding: 0.5rem;
  border-radius: 8px;
}
